@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css");
/* 기본 컬러 */
/* 마이홈페이지 컬러 */
/* 화면분기 셀렉토 */
/*  reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Pretendard", "SF Pro Display", AppleSDGothicNeo-Light, Helvetica, "Malgun Gothic", "MalgunGothic", "맑은고딕", sans-serif !important;
  font-weight: 400;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  margin: 0;
  vertical-align: top;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

strong {
  font-weight: 600;
}

/* 기본 컬러 */
/* 마이홈페이지 컬러 */
/* 화면분기 셀렉토 */
.header-wrapper {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: #FFF;
  color: #FF4713;
  transition: transform 0.5s ease;
}
.header-wrapper.scroll-down {
  transform: translateY(-500px);
}
.header-wrapper .header-inner {
  position: relative;
  z-index: 999;
  height: 100%;
  padding: 0 80px;
  display: flex;
  align-items: center;
  background: #FFF;
}
.header-wrapper .header-inner .logo {
  width: 122px;
}
.header-wrapper .header-inner .logo .btn-logo {
  display: inline-block;
}
.header-wrapper .header-inner .gnb-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-wrapper .header-inner .gnb-wrap .gnb-inner .gnb-list {
  display: flex;
  width: 880px;
}
.header-wrapper .header-inner .gnb-wrap .gnb-inner .gnb-list .gnb-item {
  flex: 1;
}
.header-wrapper .header-inner .gnb-wrap .gnb-inner .gnb-list .gnb-item .link-gnb {
  display: inline-block;
}
.header-wrapper .header-inner .gnb-wrap .gnb-inner .gnb-list .gnb-item .link-gnb .text {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
}
.header-wrapper .header-inner .right-box {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.header-wrapper .header-inner .right-box .btn-founded {
  padding: 7px 24px;
  border-radius: 20px;
  background: #FF4713;
  border: 1px solid transparent;
  transition: 0.2s ease;
}
.header-wrapper .header-inner .right-box .btn-founded .text {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  color: #FFF;
}
.header-wrapper .header-inner .right-box .btn-founded.active {
  border: 1px solid #FF4713;
  background: #FFF;
}
.header-wrapper .header-inner .right-box .btn-founded.active .text {
  color: #FF4713;
}
.header-wrapper .header-inner .right-box .sns-list {
  font-size: 0;
  margin-left: 26px;
}
.header-wrapper .header-inner .right-box .sns-list .sns-item {
  display: inline-block;
}
.header-wrapper .header-inner .right-box .sns-list .sns-item ~ .sns-item {
  margin-left: 10px;
}
.header-wrapper .header-inner .right-box .sns-list .sns-item .link-sns {
  display: inline-block;
}
.header-wrapper .header-inner .right-box .btn-main-menu .bugger-bar-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 22px;
}
.header-wrapper .header-inner .right-box .btn-main-menu .bugger-bar-wrap .bugger-bar {
  width: 100%;
  height: 3px;
  background: #FF4713;
}
.header-wrapper .sub-depth-wrap {
  position: absolute;
  z-index: 9;
  top: -480px;
  left: 0;
  width: 100%;
  height: 480px;
  background: #FFF;
  transition: top 0.5s ease-in-out;
}
.header-wrapper .sub-depth-wrap .sub-depth-inner {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 100px;
  width: 880px;
  margin: 0 auto;
}
.header-wrapper .sub-depth-wrap .sub-depth-inner .sub-depth-list {
  flex: 1;
}
.header-wrapper .sub-depth-wrap .sub-depth-inner .sub-depth-list .sub-depth-item ~ .sub-depth-item {
  margin-top: 35px;
}
.header-wrapper .sub-depth-wrap .sub-depth-inner .sub-depth-list .sub-depth-item .link-item .text {
  display: inline-block;
  font-size: 18px;
}
.header-wrapper .sub-depth-wrap.active {
  top: 0;
}
@media (max-width: 1600px) {
  .header-wrapper .header-inner {
    padding: 0 40px;
  }
  .header-wrapper .header-inner .gnb-wrap .gnb-inner .gnb-list {
    width: 668px;
  }
  .header-wrapper .sub-depth-wrap .sub-depth-inner {
    width: 668px;
  }
}
@media (max-width: 1400px) {
  .header-wrapper .header-inner .gnb-wrap .gnb-inner .gnb-list {
    width: 568px;
  }
  .header-wrapper .header-inner .gnb-wrap .gnb-inner .gnb-list .gnb-item .link-gnb .text {
    font-size: 16px;
  }
  .header-wrapper .header-inner .right-box .btn-founded {
    padding: 7px 16px;
  }
  .header-wrapper .header-inner .right-box .btn-founded .text {
    font-size: 15px;
  }
  .header-wrapper .header-inner .right-box .sns-list {
    margin-left: 15px;
  }
  .header-wrapper .header-inner .right-box .sns-list .sns-item ~ .sns-item {
    margin-left: 5px;
  }
  .header-wrapper .sub-depth-wrap .sub-depth-inner {
    width: 568px;
  }
  .header-wrapper .sub-depth-wrap .sub-depth-inner .sub-depth-list .sub-depth-item .link-gnb .text {
    font-size: 16px;
  }
}
@media (max-width: 1024px) {
  .header-wrapper {
    height: 80px;
  }
  .header-wrapper .header-inner .logo {
    width: 100px;
  }
  .header-wrapper .header-inner .gnb-wrap {
    display: none;
  }
  .header-wrapper .sub-depth-wrap {
    display: none;
  }
}
@media (max-width: 540px) {
  .header-wrapper {
    height: 55px;
  }
  .header-wrapper .header-inner {
    padding: 0 20px;
  }
  .header-wrapper .header-inner .logo {
    width: 81px;
  }
  .header-wrapper .header-inner .right-box .btn-main-menu .bugger-bar-wrap {
    width: 20px;
    height: 20px;
  }
}

/* 기본 컬러 */
/* 마이홈페이지 컬러 */
/* 화면분기 셀렉토 */
.footer-wrapper {
  position: relative;
  width: 100%;
  background: #FF4713;
}
.footer-wrapper .footer-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0 65px;
}
.footer-wrapper .footer-inner .footer-sns-list {
  font-size: 0;
  margin-top: 40px;
}
.footer-wrapper .footer-inner .footer-sns-list .footer-sns-item {
  display: inline-block;
}
.footer-wrapper .footer-inner .footer-sns-list .footer-sns-item ~ .footer-sns-item {
  margin-left: 72px;
}
.footer-wrapper .footer-inner .footer-sns-list .footer-sns-item .link-sns {
  display: inline-block;
}
.footer-wrapper .footer-inner .footer-row {
  margin-top: 40px;
  text-align: center;
}
.footer-wrapper .footer-inner .footer-row .footer-menu-list {
  font-size: 0;
}
.footer-wrapper .footer-inner .footer-row .footer-menu-list .footer-menu-item {
  display: inline-block;
}
.footer-wrapper .footer-inner .footer-row .footer-menu-list .footer-menu-item .text {
  color: #FFF;
  font-weight: 500;
  font-size: 16px;
}
.footer-wrapper .footer-inner .footer-row .footer-info-item {
  position: relative;
}
.footer-wrapper .footer-inner .footer-row .footer-info-item .link-info {
  display: inline-block;
}
.footer-wrapper .footer-inner .footer-row .footer-info-item .text {
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  color: #FFF;
}
.footer-wrapper .footer-inner .footer-row .footer-info-item .footer-info-bar {
  position: absolute;
  top: 7px;
  left: 0;
  width: 1px;
  height: 13px;
  opacity: 0.2;
  background: #FFF;
}
.footer-wrapper .footer-inner .footer-row .footer-info-item ~ .footer-info-item {
  margin-left: 10px;
  padding-left: 10px;
}
.footer-wrapper .footer-inner .footer-row .footer-info-list {
  font-size: 0;
}
.footer-wrapper .footer-inner .footer-row .footer-info-list .footer-info-item {
  display: inline-block;
}
.footer-wrapper .footer-inner .footer-row .footer-info-box .footer-info-item ~ .footer-info-item {
  margin-left: 0;
  padding-left: 0;
}
.footer-wrapper .footer-inner .footer-copy {
  margin-top: 100px;
}
.footer-wrapper .footer-inner .footer-copy .text {
  font-size: 12px;
  line-height: 26px;
  font-weight: 300;
  color: #FFF;
}
@media (max-width: 540px) {
  .footer-wrapper .footer-inner {
    padding: 24px 10px;
  }
  .footer-wrapper .footer-inner .footer-logo {
    width: 120px;
  }
  .footer-wrapper .footer-inner .footer-sns-list {
    margin-top: 24px;
  }
  .footer-wrapper .footer-inner .footer-sns-list .footer-sns-item ~ .footer-sns-item {
    margin-left: 36px;
  }
  .footer-wrapper .footer-inner .footer-row {
    margin-top: 36px;
  }
  .footer-wrapper .footer-inner .footer-row .footer-info-item .text {
    font-size: 11px;
  }
  .footer-wrapper .footer-inner .footer-copy {
    margin-top: 15px;
  }
}

.floating-wrapper {
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 40px;
}
.floating-wrapper .btn-to-top {
  opacity: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  background: #FFF;
  transition: 0.5s ease;
}
.floating-wrapper .btn-to-top.active {
  opacity: 1;
}

/* 기본 컬러 */
/* 마이홈페이지 컬러 */
/* 화면분기 셀렉토 */
/* 웹 접근성을 위한 화면 텍스트 숨김 */
.offscreen, caption {
  position: absolute !important;
  display: block;
  overflow: hidden;
  height: 1px;
  width: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  font-size: 14px !important;
}

/* 버튼, 뱃지 */
.btn-md {
  display: inline-block;
  font-size: 0;
  padding: 12px 25px;
  background: #FFF;
  border-radius: 30px;
}
.btn-md .text {
  display: inline-block;
  font-size: 13px;
  color: #0E100F;
}

.badge {
  display: inline-block;
  font-size: 0;
  padding: 6px 8px;
  border-radius: 25px;
}
.badge .text {
  display: inline-block;
  font-size: 9px;
  color: #FFF;
  font-weight: 300;
}
.badge.gray {
  background: #A3A3A3;
}

/* swiper */
.swiper-auto-wrap {
  position: relative;
  overflow: hidden;
}

/* 마이홈페이지 폰트 색상 */
.fc-yellow {
  color: #FFB84F !important;
}

.fc-sky-blue {
  color: #90C3CD !important;
}

.fc-green {
  color: #47B171 !important;
}

/* 기본 컬러 */
/* 마이홈페이지 컬러 */
/* 화면분기 셀렉토 */
.ico-to-top, .ico-arrow-orange, .ico-enter-arrow-white {
  display: inline-block;
  position: relative;
  vertical-align: top;
  overflow: hidden;
}

.ico-enter-arrow-white {
  background: url("../images/icon/ico_enter_arrow_white.png") center no-repeat;
  background-size: contain;
  width: 100%;
  height: 48px;
}

.ico-arrow-orange {
  background: url("../images/icon/ico_arrow_orange.png") center no-repeat;
  background-size: contain;
  width: 100%;
  height: 48px;
}

.ico-to-top {
  background: url("../images/icon/ico_arrow_orange.png") center no-repeat;
  background-size: contain;
  transform: rotate(270deg);
  width: 20px;
  height: 20px;
}

/* 기본 컬러 */
/* 마이홈페이지 컬러 */
/* 화면분기 셀렉토 */
body {
  overflow-x: hidden;
}
body [show-pc] {
  display: none;
}
body [show-mo] {
  display: none;
}
@media (min-width: 1025px) {
  body [show-pc] {
    display: block;
  }
}
@media (max-width: 1024px) {
  body [show-mo] {
    display: block;
  }
}

.wrapper {
  background: #F7F6F3;
}
.wrapper img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}
.wrapper #cursor {
  position: fixed;
  z-index: 8888;
  transform: translate(70%, 70%);
  width: 45px;
  height: 45px;
  pointer-events: none;
  background: url("../images/icon/ico_mouse_cursor.png") 0 0 no-repeat;
  background-size: cover;
  display: block;
  /* 해상도 1400 */
}
@media (max-width: 1400px) {
  .wrapper #cursor {
    display: none;
  }
}
.wrapper .btn-link {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
}
.wrapper .auto-swiper-wrap, .wrapper .fraction-swiper-wrap {
  position: relative;
  font-size: 0;
  overflow: hidden;
}
.wrapper.intro .content-box {
  position: relative;
  display: flex;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
}
.wrapper.intro .content-box .enter-choice-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: calc(var(--vh, 1vh) * 100);
}
.wrapper.intro .content-box .enter-choice-wrap .thumb-box {
  position: absolute;
  width: 100%;
  height: 100%;
}
.wrapper.intro .content-box .enter-choice-wrap .thumb-box img {
  object-fit: cover;
}
.wrapper.intro .content-box .enter-choice-wrap .choice-info-box {
  position: relative;
  width: 350px;
  height: 344px;
  padding: 46px;
  background-color: #fff;
  z-index: 9;
  transition: transform 0.2s ease;
  color: #FF4713;
}
.wrapper.intro .content-box .enter-choice-wrap .choice-info-box .sub-title {
  font-size: 18px;
  font-weight: 500;
}
.wrapper.intro .content-box .enter-choice-wrap .choice-info-box .content-title {
  font-size: 28px;
  margin-top: 28px;
  padding-top: 29px;
  border-top: 2px solid #FF4713;
}
.wrapper.intro .content-box .enter-choice-wrap .choice-info-box.active {
  transform: translateY(-20px);
}
.wrapper.intro .content-box .enter-choice-wrap .choice-info-box:after {
  content: "";
  position: absolute;
  width: 46px;
  height: 14px;
  bottom: 50px;
  background: url("../images/icon/ico_enter_arrow.png") 0 0 no-repeat;
  background-size: cover;
}
@media (max-width: 540px) {
  .wrapper.intro .content-box .enter-choice-wrap .choice-info-box {
    width: 280px;
    height: 280px;
    padding: 28px;
  }
  .wrapper.intro .content-box .enter-choice-wrap .choice-info-box .sub-title {
    font-size: 15px;
  }
  .wrapper.intro .content-box .enter-choice-wrap .choice-info-box .content-title {
    font-size: 24px;
    margin-top: 10px;
    padding-top: 20px;
  }
  .wrapper.intro .content-box .enter-choice-wrap .choice-info-box:after {
    bottom: 38px;
  }
}
.wrapper.intro .content-box .enter-choice-wrap .circle-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(75%, 130%);
  width: 184px;
  height: 184px;
}
.wrapper.intro .content-box .enter-choice-wrap .circle-text-box.active img {
  transform: rotate(360deg);
  transition: 5s linear;
}
.wrapper.intro .content-box .enter-choice-wrap .circle-text-box .btn-enter-link {
  width: 69px;
  height: 46px;
}
@media (max-width: 1400px) {
  .wrapper.intro .content-box .enter-choice-wrap .circle-text-box {
    top: 75%;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 1024px) {
  .wrapper.intro .content-box {
    flex-direction: column;
    justify-content: space-between;
    background-color: #F7F6F3;
  }
  .wrapper.intro .content-box .enter-choice-wrap {
    width: 100vw;
  }
  .wrapper.intro .content-box .enter-choice-wrap .circle-text-box {
    display: none;
  }
  .wrapper.intro .content-box .enter-choice-wrap ~ .enter-choice-wrap {
    margin-top: 15px;
  }
}
.wrapper .menu-section .bg-tab-wrap .tabs .tab-list {
  display: flex;
}
.wrapper .menu-section .bg-tab-wrap .tab-content {
  display: none;
}
.wrapper .circle-text-box {
  position: absolute;
}
.wrapper .circle-text-box .btn-enter-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper .flex-area {
  width: 50%;
}
.wrapper [class$=-section]:last-child {
  padding-bottom: 200px;
}
@media (max-width: 540px) {
  .wrapper [class$=-section]:last-child {
    padding-bottom: 90px;
  }
}
.wrapper .visual-section {
  height: calc(var(--vh, 1vh) * 100);
}
.wrapper .visual-section .visual-swiper-wrap .fraction-swiper-wrap .swiper-wrapper .swiper-slide .thumb-box {
  height: calc(var(--vh, 1vh) * 100);
}
.wrapper .visual-section .visual-swiper-wrap .fraction-swiper-wrap .swiper-wrapper .swiper-slide .thumb-box img {
  object-fit: cover;
}
.wrapper .visual-section .visual-swiper-wrap .fraction-swiper-wrap .swiper-pagination {
  display: none;
  position: absolute;
  left: auto;
  right: 20px;
  bottom: 3%;
  width: auto;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  color: #FF4713;
}
.wrapper .visual-section .visual-swiper-wrap .fraction-swiper-wrap .swiper-pagination .swiper-pagination-current {
  font-weight: bold;
}
@media (max-width: 540px) {
  .wrapper .visual-section .visual-swiper-wrap .fraction-swiper-wrap .swiper-pagination {
    display: block;
  }
}
.wrapper .menu-section .bg-tab-wrap {
  position: relative;
  display: flex;
  height: calc(var(--vh, 1vh) * 100);
  /* 해상도 1700 */
  /* 해상도 1600 */
  /* 해상도 1400 */
  /* 해상도 1200 */
}
.wrapper .menu-section .bg-tab-wrap .flex-area .bg-change-box {
  position: absolute;
  top: 80px;
  left: 80px;
  z-index: 9;
  white-space: nowrap;
}
.wrapper .menu-section .bg-tab-wrap .flex-area .bg-change-box .content-title {
  font-size: 80px;
  color: #FFF;
  font-weight: bold;
  margin-bottom: 40px;
}
.wrapper .menu-section .bg-tab-wrap .flex-area .bg-change-box .tabs .tab-list {
  display: inline-block;
}
.wrapper .menu-section .bg-tab-wrap .flex-area .bg-change-box .tabs .tab-list .tab-item {
  position: relative;
}
.wrapper .menu-section .bg-tab-wrap .flex-area .bg-change-box .tabs .tab-list .tab-item .btn-tab .text {
  font-size: 24px;
  color: #FFF;
}
.wrapper .menu-section .bg-tab-wrap .flex-area .bg-change-box .tabs .tab-list .tab-item ~ .tab-item {
  margin-top: 30px;
}
.wrapper .menu-section .bg-tab-wrap .flex-area .bg-change-box .tabs .tab-list .tab-item.active .btn-tab .text {
  position: relative;
  font-weight: bold;
  padding-bottom: 2px;
}
.wrapper .menu-section .bg-tab-wrap .flex-area .bg-change-box .tabs .tab-list .tab-item.active .btn-tab .text:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #FFF;
}
.wrapper .menu-section .bg-tab-wrap .flex-area .bg-visual-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.wrapper .menu-section .bg-tab-wrap .flex-area .bg-visual-wrap .bg-visual-list {
  position: relative;
  height: 100%;
}
.wrapper .menu-section .bg-tab-wrap .flex-area .bg-visual-wrap .bg-visual-list .bg-visual-item {
  position: absolute;
  width: 100%;
  height: 100%;
}
.wrapper .menu-section .bg-tab-wrap .flex-area .bg-visual-wrap .bg-visual-list .bg-visual-item img {
  position: absolute;
  top: 0;
  right: 0;
  object-fit: cover;
}
.wrapper .menu-section .bg-tab-wrap .flex-area .bg-visual-wrap .bg-visual-list .bg-visual-item:first-child {
  z-index: 2;
}
.wrapper .menu-section .bg-tab-wrap .flex-area .bg-visual-wrap .bg-visual-list .bg-visual-item.active img {
  animation: 1s widthIn cubic-bezier(0.76, 0, 0.24, 1);
  animation-fill-mode: forwards;
}
@keyframes widthIn {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.wrapper .menu-section .bg-tab-wrap .flex-area .tab-content {
  height: 100%;
}
.wrapper .menu-section .bg-tab-wrap .flex-area .tab-content .menu-category-wrap {
  display: flex;
  flex-direction: column;
  color: #FF4713;
  width: 650px;
  height: 100%;
  margin-left: auto;
  margin-right: 60px;
  padding-top: 120px;
  padding-bottom: 60px;
}
.wrapper .menu-section .bg-tab-wrap .flex-area .tab-content .menu-category-wrap .content-title-wrap .content-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}
.wrapper .menu-section .bg-tab-wrap .flex-area .tab-content .menu-category-wrap .content-title-wrap .title-desc {
  font-size: 18px;
  line-height: 1.6;
}
.wrapper .menu-section .bg-tab-wrap .flex-area .tab-content .menu-category-wrap .menu-center-wrap {
  width: 440px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 8;
  transform: translate(-50%, -50%);
}
.wrapper .menu-section .bg-tab-wrap .flex-area .tab-content .menu-category-wrap .menu-visual-wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrapper .menu-section .bg-tab-wrap .flex-area .tab-content .menu-category-wrap .menu-visual-wrap .auto-swiper-wrap .swiper-wrapper {
  margin: 0 -10px;
}
.wrapper .menu-section .bg-tab-wrap .flex-area .tab-content .menu-category-wrap .menu-visual-wrap .auto-swiper-wrap .swiper-wrapper .swiper-slide {
  width: calc(33.3333333333% - 10px);
  height: 100%;
  margin: 0 5px;
  padding: 0 5px;
}
.wrapper .menu-section .bg-tab-wrap .flex-area .tab-content .menu-category-wrap .menu-visual-wrap .auto-swiper-wrap .swiper-wrapper .swiper-slide .thumb-box {
  position: relative;
  /* 썸네일 3:4 */
  padding-top: 133.3%;
}
.wrapper .menu-section .bg-tab-wrap .flex-area .tab-content .menu-category-wrap .menu-visual-wrap .auto-swiper-wrap .swiper-wrapper .swiper-slide .thumb-box img {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  object-fit: contain;
}
.wrapper .menu-section .bg-tab-wrap .flex-area .tab-content .menu-category-wrap .menu-topping-wrap .content-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 11px;
}
.wrapper .menu-section .bg-tab-wrap .flex-area .tab-content .menu-category-wrap .menu-topping-wrap .topping-list {
  border-top: 1px solid #FF4713;
  padding-top: 30px;
  font-size: 0;
}
.wrapper .menu-section .bg-tab-wrap .flex-area .tab-content .menu-category-wrap .menu-topping-wrap .topping-list .topping-item {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}
.wrapper .menu-section .bg-tab-wrap .flex-area .tab-content .menu-category-wrap .menu-topping-wrap .topping-list .topping-item .thumb-box {
  width: 70px;
}
.wrapper .menu-section .bg-tab-wrap .flex-area .tab-content .menu-category-wrap .menu-topping-wrap .topping-list .topping-item .text {
  margin-top: 16px;
  font-size: 14px;
}
@media (max-width: 1700px) {
  .wrapper .menu-section .bg-tab-wrap .flex-area .tab-content .menu-category-wrap {
    width: 80%;
    margin: 0 auto;
  }
  .wrapper .menu-section .bg-tab-wrap .flex-area .tab-content .menu-category-wrap .menu-center-wrap {
    width: 340px;
  }
  .wrapper .menu-section .bg-tab-wrap .flex-area .tab-content .menu-category-wrap .menu-visual-wrap {
    width: 80%;
    margin-left: 20%;
  }
}
@media (max-width: 1600px) {
  .wrapper .menu-section .bg-tab-wrap .flex-area .bg-change-box .content-title {
    font-size: 60px;
  }
  .wrapper .menu-section .bg-tab-wrap .flex-area .bg-change-box .tabs .tab-list .tab-item ~ .tab-item {
    margin-top: 20px;
  }
  .wrapper .menu-section .bg-tab-wrap .flex-area .bg-change-box .tabs .tab-list .tab-item .btn-tab .text {
    font-size: 20px;
  }
  .wrapper .menu-section .bg-tab-wrap .flex-area .bg-change-box .tabs .tab-list .tab-item .btn-tab .text:after {
    height: 2px;
  }
  .wrapper .menu-section .bg-tab-wrap .flex-area .bg-change-box .tabs .tab-list .tab-item.active .btn-tab .text:after {
    height: 2px;
  }
  .wrapper .menu-section .bg-tab-wrap .flex-area .tab-content .menu-category-wrap .menu-center-wrap {
    width: 340px;
  }
}
@media (max-width: 1400px) {
  .wrapper .menu-section .bg-tab-wrap .flex-area .tab-content .menu-category-wrap .content-title-wrap .content-title {
    font-size: 32px;
    margin-bottom: 16px;
  }
  .wrapper .menu-section .bg-tab-wrap .flex-area .tab-content .menu-category-wrap .content-title-wrap .title-desc {
    font-size: 16px;
  }
  .wrapper .menu-section .bg-tab-wrap .flex-area .tab-content .menu-category-wrap .menu-center-wrap {
    width: 300px;
  }
  .wrapper .menu-section .bg-tab-wrap .flex-area .tab-content .menu-category-wrap .menu-topping-wrap .content-title {
    font-size: 20px;
  }
}
@media (max-width: 1200px) {
  .wrapper .menu-section .bg-tab-wrap {
    flex-direction: column;
    height: auto;
  }
  .wrapper .menu-section .bg-tab-wrap .flex-area {
    width: 100%;
  }
  .wrapper .menu-section .bg-tab-wrap .flex-area .bg-change-box {
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
  }
  .wrapper .menu-section .bg-tab-wrap .flex-area .bg-change-box .content-title {
    text-align: center;
  }
  .wrapper .menu-section .bg-tab-wrap .flex-area .bg-change-box .tabs .tab-list .tab-item {
    display: inline-block;
  }
  .wrapper .menu-section .bg-tab-wrap .flex-area .bg-change-box .tabs .tab-list .tab-item ~ .tab-item {
    margin-top: 0;
    margin-left: 40px;
  }
  .wrapper .menu-section .bg-tab-wrap .flex-area .bg-visual-wrap {
    height: 70vh;
  }
  .wrapper .menu-section .bg-tab-wrap .flex-area .tab-content .menu-category-wrap {
    width: 90%;
    padding-top: 80px;
  }
  .wrapper .menu-section .bg-tab-wrap .flex-area .tab-content .menu-category-wrap .menu-center-wrap {
    display: none;
  }
  .wrapper .menu-section .bg-tab-wrap .flex-area .tab-content .menu-category-wrap .menu-visual-wrap {
    margin-left: auto;
    margin-top: 50px;
    width: 100%;
  }
  .wrapper .menu-section .bg-tab-wrap .flex-area .tab-content .menu-category-wrap .menu-topping-wrap {
    margin-top: 50px;
  }
}
@media (max-width: 600px) {
  .wrapper .menu-section .bg-tab-wrap .flex-area .bg-change-box .content-title {
    font-size: 40px;
  }
  .wrapper .menu-section .bg-tab-wrap .flex-area .bg-change-box .tabs .tab-list .tab-item ~ .tab-item {
    margin-left: 10px;
  }
  .wrapper .menu-section .bg-tab-wrap .flex-area .bg-change-box .tabs .tab-list .tab-item .btn-tab .text {
    font-size: 16px;
  }
  .wrapper .menu-section .bg-tab-wrap .flex-area .tab-content .menu-category-wrap .content-title-wrap .title-desc {
    font-size: 14px;
  }
  .wrapper .menu-section .bg-tab-wrap .flex-area .tab-content .menu-category-wrap .menu-topping-wrap .topping-list .topping-item .thumb-box {
    width: 50px;
  }
  .wrapper .menu-section .bg-tab-wrap .flex-area .tab-content .menu-category-wrap .menu-topping-wrap .topping-list .topping-item .text {
    font-size: 12px;
  }
}
.wrapper .identity-section {
  margin-top: 160px;
}
.wrapper .identity-section .identity-slogan-wrap .thumb-box {
  width: 410px;
  margin: 0 auto;
}
.wrapper .identity-section .identity-bg-wrap {
  margin-top: 160px;
}
.wrapper .identity-section .identity-marquee-wrap {
  position: relative;
  margin-top: 30px;
  overflow: hidden;
}
.wrapper .identity-section .identity-marquee-wrap .marquee-wrap {
  position: relative;
}
.wrapper .identity-section .identity-marquee-wrap .marquee-wrap .marquee-box {
  display: flex;
  white-space: nowrap;
}
.wrapper .identity-section .identity-marquee-wrap .marquee-wrap .marquee-box .original-marquee, .wrapper .identity-section .identity-marquee-wrap .marquee-wrap .marquee-box .marquee {
  display: inline-block;
  padding-left: 53px;
  padding-right: 5px;
  background: url("../images/icon/ico_face_marquee.svg") 5px 0 no-repeat;
  background-size: 36px 36px;
}
.wrapper .identity-section .identity-marquee-wrap .marquee-wrap .marquee-box .original-marquee .text, .wrapper .identity-section .identity-marquee-wrap .marquee-wrap .marquee-box .marquee .text {
  display: inline-block;
  font-size: 36px;
  color: #FF4713;
}
.wrapper .identity-section .identity-marquee-wrap .marquee-wrap.active .marquee-box {
  animation: slidemarquee var(--marqueeDuration) infinite linear;
}
@keyframes slidemarquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(var(--marqueeWidth), 0, 0);
  }
}
@media (max-width: 600px) {
  .wrapper .identity-section {
    margin-top: 20px;
  }
  .wrapper .identity-section .identity-slogan-wrap .thumb-box {
    width: 240px;
  }
  .wrapper .identity-section .identity-bg-wrap {
    margin-top: 80px;
  }
  .wrapper .identity-section .identity-marquee-wrap {
    margin-top: 15px;
  }
  .wrapper .identity-section .identity-marquee-wrap .marquee-wrap .marquee-box .original-marquee, .wrapper .identity-section .identity-marquee-wrap .marquee-wrap .marquee-box .marquee {
    padding-left: 32px;
    padding-right: 5px;
    background: url("../images/icon/ico_face_marquee.svg") 5px 0 no-repeat;
    background-size: 18px 18px;
  }
  .wrapper .identity-section .identity-marquee-wrap .marquee-wrap .marquee-box .original-marquee .text, .wrapper .identity-section .identity-marquee-wrap .marquee-wrap .marquee-box .marquee .text {
    font-size: 18px;
  }
  .wrapper .identity-section .identity-marquee-wrap .marquee-wrap.active .marquee-box {
    animation: slidemarquee var(--marqueeDuration) infinite linear;
  }
  @keyframes slidemarquee {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(var(--marqueeWidth), 0, 0);
    }
  }
}
.wrapper .news-events-section {
  margin-top: 30px;
  border-top: 1px solid #FF4713;
  border-bottom: 1px solid #CED1CF;
}
.wrapper .news-events-section .new-event-wrap {
  display: flex;
}
.wrapper .news-events-section .new-event-wrap .flex-area {
  position: relative;
  width: 40%;
}
.wrapper .news-events-section .new-event-wrap .flex-area ~ .flex-area {
  width: 60%;
}
.wrapper .news-events-section .new-event-wrap .flex-area .content-title-wrap {
  margin-top: 40px;
  padding-left: 80px;
}
.wrapper .news-events-section .new-event-wrap .flex-area .content-title-wrap .content-title {
  font-size: 100px;
  font-weight: bold;
  color: #FF4713;
}
.wrapper .news-events-section .new-event-wrap .flex-area .circle-text-box {
  bottom: 0;
  left: 80px;
  width: 186px;
  height: 186px;
  transform: translate(0, 70%);
}
.wrapper .news-events-section .new-event-wrap .flex-area .circle-text-box img {
  animation: spin 5s linear infinite;
  transition: 5s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.wrapper .news-events-section .new-event-wrap .flex-area .circle-text-box .btn-enter-link {
  width: 71px;
  height: 48px;
}
.wrapper .news-events-section .new-event-wrap .flex-area .news-events-list {
  border-left: 1px solid #CED1CF;
}
.wrapper .news-events-section .new-event-wrap .flex-area .news-events-list .news-events-item .link-info {
  padding: 60px;
  display: flex;
  align-items: center;
}
.wrapper .news-events-section .new-event-wrap .flex-area .news-events-list .news-events-item .link-info .info-box {
  width: 85%;
  color: #FF4713;
}
.wrapper .news-events-section .new-event-wrap .flex-area .news-events-list .news-events-item .link-info .info-box .info-title-wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 13px;
}
.wrapper .news-events-section .new-event-wrap .flex-area .news-events-list .news-events-item .link-info .info-box .info-title-wrap .sub-title {
  font-size: 18px;
  line-height: 24px;
  opacity: 0.7;
  margin-bottom: 10px;
}
.wrapper .news-events-section .new-event-wrap .flex-area .news-events-list .news-events-item .link-info .info-box .info-title-wrap .title {
  font-size: 24px;
  font-weight: 500;
  line-height: 33px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
.wrapper .news-events-section .new-event-wrap .flex-area .news-events-list .news-events-item .link-info .info-box .date {
  font-size: 16px;
  line-height: 24px;
  opacity: 0.6;
}
.wrapper .news-events-section .new-event-wrap .flex-area .news-events-list .news-events-item .link-info .right-box {
  margin-left: auto;
  width: 10%;
  text-align: center;
  font-size: 0;
}
.wrapper .news-events-section .new-event-wrap .flex-area .news-events-list .news-events-item ~ .news-events-item {
  border-top: 1px solid #CED1CF;
}
@media (max-width: 1400px) {
  .wrapper .news-events-section .new-event-wrap .flex-area .content-title-wrap {
    padding-left: 0;
  }
  .wrapper .news-events-section .new-event-wrap .flex-area .content-title-wrap .content-title {
    font-size: 80px;
    text-align: center;
  }
}
@media (max-width: 1024px) {
  .wrapper .news-events-section .new-event-wrap {
    flex-direction: column;
  }
  .wrapper .news-events-section .new-event-wrap .flex-area {
    width: 100%;
  }
  .wrapper .news-events-section .new-event-wrap .flex-area ~ .flex-area {
    width: 100%;
  }
  .wrapper .news-events-section .new-event-wrap .flex-area .content-title-wrap {
    padding-left: 30px;
  }
  .wrapper .news-events-section .new-event-wrap .flex-area .content-title-wrap .content-title {
    text-align: left;
  }
  .wrapper .news-events-section .new-event-wrap .flex-area .circle-text-box {
    display: none;
  }
  .wrapper .news-events-section .new-event-wrap .flex-area .news-events-list {
    margin-top: 50px;
    border-top: 1px solid #CED1CF;
    border-left: 0;
  }
}
@media (max-width: 600px) {
  .wrapper .news-events-section {
    margin-top: 15px;
  }
}
@media (max-width: 540px) {
  .wrapper .news-events-section .new-event-wrap .flex-area .content-title-wrap .content-title {
    font-size: 32px;
  }
  .wrapper .news-events-section .new-event-wrap .flex-area .news-events-list .news-events-item .link-info {
    padding: 30px;
  }
  .wrapper .news-events-section .new-event-wrap .flex-area .news-events-list .news-events-item .link-info .info-box .info-title-wrap {
    margin-bottom: 12px;
  }
  .wrapper .news-events-section .new-event-wrap .flex-area .news-events-list .news-events-item .link-info .info-box .info-title-wrap .sub-title {
    font-size: 12px;
    line-height: 1;
    margin-bottom: 12px;
  }
  .wrapper .news-events-section .new-event-wrap .flex-area .news-events-list .news-events-item .link-info .info-box .info-title-wrap .title {
    font-size: 16px;
    line-height: 1;
  }
  .wrapper .news-events-section .new-event-wrap .flex-area .news-events-list .news-events-item .link-info .info-box .date {
    font-size: 12px;
    line-height: 1;
  }
  .wrapper .news-events-section .new-event-wrap .flex-area .news-events-list .news-events-item .link-info .right-box {
    margin-left: auto;
    width: 10%;
    text-align: center;
    font-size: 0;
  }
  .wrapper .news-events-section .new-event-wrap .flex-area .news-events-list .news-events-item ~ .news-events-item {
    border-top: 1px solid #CED1CF;
  }
}
.wrapper .sns-section {
  margin-top: 300px;
}
.wrapper .sns-section .content-title-wrap {
  margin: 0 auto;
  text-align: center;
}
.wrapper .sns-section .content-title-wrap .content-title {
  display: inline-block;
  font-size: 50px;
  font-weight: bold;
  line-height: 117px;
  color: #FF4713;
  padding-left: 83px;
  background: url("../images/icon/ico_insta_h67.svg") 0 50% no-repeat;
  background-size: 67px 67px;
}
.wrapper .sns-section .sns-insta-wrap {
  margin-top: 70px;
}
.wrapper .sns-section .sns-insta-wrap .insta-list {
  font-size: 0;
  text-align: center;
}
.wrapper .sns-section .sns-insta-wrap .insta-list .insta-item {
  position: relative;
  display: inline-block;
  width: 20%;
  margin: 0 10px;
}
@media (max-width: 1024px) {
  .wrapper .sns-section {
    margin-top: 100px;
  }
}
@media (max-width: 540px) {
  .wrapper .sns-section {
    margin-top: 80px;
  }
  .wrapper .sns-section .content-title-wrap .content-title {
    display: inline-block;
    font-size: 32px;
    line-height: 1;
    padding-left: 50px;
    background: url("../images/icon/ico_insta_h67.svg") 0 50% no-repeat;
    background-size: 44px 44px;
  }
  .wrapper .sns-section .sns-insta-wrap {
    margin-top: 40px;
  }
}

/* 기본 컬러 */
/* 마이홈페이지 컬러 */
/* 화면분기 셀렉토 */
.wrapper.my-home {
  background: #0E100F;
}
.wrapper.my-home .ani-rotate.on {
  animation: rotate 1.2s;
}
@keyframes rotate {
  0% {
    transform-origin: 0 0;
    transform: translate(0, 100%);
    rotate: 20deg;
    transition: 1s;
  }
  100% {
    transform-origin: 0 0;
    transform: translate(0, 0);
    rotate: 0;
    transition: 1s;
  }
}
.wrapper.my-home .ani-fadeIn.on {
  animation: fadeIn 2s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.wrapper.my-home .loading-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  z-index: 9999;
  background: #0E100F;
}
.wrapper.my-home .loading-wrapper .loading-wrap {
  display: none;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.wrapper.my-home .loading-wrapper .loading-wrap .loading-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.wrapper.my-home .loading-wrapper .loading-wrap .loading-logo .logo-box {
  width: 40px;
  overflow: hidden;
}
.wrapper.my-home .loading-wrapper .loading-wrap .loading-logo .logo-box ~ .logo-box {
  margin-left: 5px;
}
.wrapper.my-home .loading-wrapper.active .loading-wrap {
  display: flex;
}
.wrapper.my-home .loading-wrapper.active .loading-wrap .logo-box.o img {
  animation: logoSpin 0.5s linear forwards;
}
.wrapper.my-home .loading-wrapper.active .loading-wrap .logo-box.g img {
  animation: logoUp 0.5s linear forwards;
}
.wrapper.my-home .loading-wrapper.active2 .loading-wrap .logo-box.g img {
  animation: logoBackSpin 0.5s linear forwards;
}
@keyframes logoSpin {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes logoBackSpin {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes logoUp {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }
  30% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: rotate(180deg);
  }
}
.wrapper.my-home .skip-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.wrapper.my-home .skip-nav a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  padding: 10px;
  background: #FFF;
  color: #0E100F;
}
.wrapper.my-home .skip-nav a:not(:focus) {
  transform: translateY(-100%);
}
.wrapper.my-home .header-wrapper {
  background: transparent;
  padding: 30px 60px;
}
.wrapper.my-home .header-wrapper .logo {
  display: inline-block;
  filter: brightness(0.3);
  transition: 0.6s;
}
.wrapper.my-home .header-wrapper .logo .btn-logo {
  display: flex;
}
.wrapper.my-home .header-wrapper .logo .btn-logo img {
  width: 40px;
}
.wrapper.my-home .header-wrapper .logo .btn-logo img ~ img {
  margin-left: 5px;
}
.wrapper.my-home .header-wrapper.active {
  background: linear-gradient(180deg, hsla(0deg, 5%, 7%, 0.9), hsla(0deg, 5%, 7%, 0));
}
.wrapper.my-home .header-wrapper.active .logo {
  filter: brightness(1);
}
@media (max-width: 1024px) {
  .wrapper.my-home .header-wrapper {
    padding: 20px;
    height: auto;
  }
  .wrapper.my-home .header-wrapper .logo .btn-logo img {
    width: 30px;
  }
  .wrapper.my-home .header-wrapper .logo .btn-logo img ~ img {
    margin-left: 3px;
  }
}
.wrapper.my-home .content-box {
  position: relative;
  width: 100%;
}
.wrapper.my-home .content-box .content-inner {
  padding: 0 60px;
  height: 100%;
}
.wrapper.my-home .content-box ~ .content-box {
  margin-top: 100px;
}
@media (max-width: 1024px) {
  .wrapper.my-home .content-box .content-inner {
    padding: 0 20px;
  }
  .wrapper.my-home .content-box ~ .content-box {
    margin-top: 50px;
  }
  .wrapper.my-home .content-box:last-child {
    padding-bottom: 50px;
  }
}
.wrapper.my-home .intro-contact-wrap .contact-info-wrap, .wrapper.my-home .intro-career-wrap .profile-wrap {
  min-height: 500px;
  background-color: rgba(55, 55, 55, 0.4);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  border-radius: 15px;
}
@media (max-width: 1024px) {
  .wrapper.my-home .intro-contact-wrap .contact-info-wrap, .wrapper.my-home .intro-career-wrap .profile-wrap {
    min-height: auto;
  }
}
.wrapper.my-home .sub-text-wrap {
  display: flex;
  margin-top: 100px;
}
.wrapper.my-home .sub-text-wrap .sub-text-box {
  max-width: 550px;
}
.wrapper.my-home .sub-text-wrap .sub-text-box .text {
  font-size: 22px;
  line-height: 24px;
  color: #FFF;
}
.wrapper.my-home .sub-text-wrap .sub-text-box .text ~ .text {
  margin-top: 40px;
}
.wrapper.my-home .sub-text-wrap .skill-box {
  margin-left: auto;
  align-self: flex-end;
}
.wrapper.my-home .sub-text-wrap .skill-box .skill-list {
  display: flex;
}
.wrapper.my-home .sub-text-wrap .skill-box .skill-list .skill-item {
  width: 40px;
}
.wrapper.my-home .sub-text-wrap .skill-box .skill-list .skill-item ~ .skill-item {
  margin-left: 3px;
}
.wrapper.my-home .sub-text-wrap .skill-box .skill-list .skill-item ~ .skill-item:nth-child(n+4) {
  margin-left: 6px;
}
@media (max-width: 1024px) {
  .wrapper.my-home .sub-text-wrap .sub-text-box {
    max-width: 450px;
  }
  .wrapper.my-home .sub-text-wrap .sub-text-box .text {
    font-size: 16px;
    line-height: 18px;
  }
}
.wrapper.my-home .card-list {
  perspective: 900px;
  position: relative;
}
.wrapper.my-home .card-list .card-item {
  padding: 50px 80px 60px;
  min-height: 545px;
  border-radius: 15px;
  background: #FFF;
  display: grid;
  grid-template-columns: 60% auto;
  position: sticky;
  top: 100px;
  filter: brightness(1);
}
.wrapper.my-home .card-list .card-item .title {
  grid-column: 1/3;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -2px;
  padding-bottom: 20px;
  margin-bottom: auto;
  border-bottom: 1px solid #DDD;
}
.wrapper.my-home .card-list .card-item .order {
  align-self: flex-end;
  display: inline-block;
}
.wrapper.my-home .card-list .card-item .order .text {
  display: inline-block;
  font-size: 250px;
  line-height: 0.75;
  font-weight: bold;
}
.wrapper.my-home .card-list .card-item .info-box {
  align-self: flex-end;
}
.wrapper.my-home .card-list .card-item .info-box .info-title {
  font-size: 25px;
  margin-bottom: 30px;
}
.wrapper.my-home .card-list .card-item .info-box .info-list {
  font-size: 0;
}
.wrapper.my-home .card-list .card-item .info-box .info-list .info-item .text {
  word-break: keep-all;
  font-size: 15px;
  line-height: 21px;
  font-weight: 300;
  color: #666;
}
.wrapper.my-home .card-list .card-item .info-box .info-list .info-item ~ .info-item {
  margin-top: 10px;
}
.wrapper.my-home .table-info-wrap .table-info tbody tr {
  color: #666;
  vertical-align: middle;
}
.wrapper.my-home .table-info-wrap .table-info tbody tr th {
  word-break: keep-all;
  font-size: 15px;
  line-height: 21px;
  font-weight: 300;
  vertical-align: middle;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-left: 2px;
}
.wrapper.my-home .table-info-wrap .table-info tbody tr td {
  word-break: keep-all;
  font-size: 15px;
  line-height: 21px;
  font-weight: 300;
  vertical-align: middle;
  padding-top: 5px;
  padding-bottom: 5px;
}
.wrapper.my-home .intro-text-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper.my-home .intro-text-wrap .intro-text {
  margin-right: 10px;
}
.wrapper.my-home .intro-text-wrap .intro-img {
  width: 250px;
  margin-right: 10px;
}
.wrapper.my-home .intro-text-wrap .intro-img:last-child {
  margin-right: 0;
}
.wrapper.my-home .intro-word-wrap {
  position: relative;
  padding-top: 40px;
  border-top: 1px solid #3B3B3B;
}
.wrapper.my-home .intro-word-wrap .title {
  position: absolute;
  top: 40px;
  right: 0;
  font-size: 18px;
  color: #FFF;
}
.wrapper.my-home .intro-word-wrap .word-box {
  text-align: right;
  overflow: hidden;
}
.wrapper.my-home .intro-word-wrap .word-box .text {
  display: inline-block;
  font-size: 120px;
  color: #FFF;
  letter-spacing: -0.07px;
}
.wrapper.my-home .intro-word-wrap .word-box.center {
  margin-right: 400px;
}
.wrapper.my-home .intro-word-wrap .video-wrap {
  display: flex;
  justify-content: flex-end;
}
.wrapper.my-home .intro-word-wrap .video-wrap .video-box {
  max-width: 550px;
  margin-right: 25px;
  border-radius: 15px;
}
.wrapper.my-home .intro-word-wrap .video-wrap .word-box {
  align-self: flex-end;
}
.wrapper.my-home .intro-word-wrap .video-wrap ~ .word-box {
  margin-top: 10px;
}
.wrapper.my-home .intro-word-wrap.no-border {
  border-top: 0;
}
.wrapper.my-home .intro-word-wrap.no-border .word-box {
  text-align: left;
  margin-bottom: 10px;
}
.wrapper.my-home .intro-word-wrap.no-border .word-box.center {
  text-align: center;
  margin-right: 0;
}
.wrapper.my-home .intro-word-wrap.no-border .video-wrap .word-box {
  align-self: flex-start;
}
@media (max-width: 1400px) {
  .wrapper.my-home .intro-word-wrap .word-box .text {
    font-size: 80px;
  }
  .wrapper.my-home .intro-word-wrap .word-box.center {
    margin-right: 200px;
  }
  .wrapper.my-home .intro-word-wrap .video-wrap .video-box {
    max-width: 400px;
  }
}
@media (max-width: 1024px) {
  .wrapper.my-home .intro-word-wrap .title {
    font-size: 14px;
    top: 20px;
  }
  .wrapper.my-home .intro-word-wrap .video-wrap {
    flex-direction: column;
  }
  .wrapper.my-home .intro-word-wrap .video-wrap .video-box {
    max-width: 100%;
    align-self: center;
    margin-right: 0;
    padding: 20px 0;
  }
}
@media (max-width: 600px) {
  .wrapper.my-home .intro-word-wrap .word-box .text {
    font-size: 40px;
  }
  .wrapper.my-home .intro-word-wrap .word-box.center {
    margin-right: auto;
  }
}
.wrapper.my-home .intro-visual-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(var(--vh, 1vh) * 100);
  padding: 30px 0;
}
.wrapper.my-home .intro-visual-wrap .intro-title-wrap {
  width: 100%;
}
.wrapper.my-home .intro-visual-wrap .intro-title-wrap .title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  overflow: hidden;
}
.wrapper.my-home .intro-visual-wrap .intro-title-wrap .title .text {
  text-align: right;
  font-size: 70px;
  color: #FFF;
}
.wrapper.my-home .intro-visual-wrap .intro-desc-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: auto;
}
.wrapper.my-home .intro-visual-wrap .intro-desc-wrap .desc {
  font-size: 24px;
  color: #FFF;
}
.wrapper.my-home .intro-visual-wrap .intro-desc-wrap .sub-desc {
  font-size: 20px;
  color: #FFF;
  opacity: 0.8;
  margin-top: 10px;
}
.wrapper.my-home .intro-visual-wrap .intro-text-wrap {
  margin-top: 60px;
}
@media (max-width: 1024px) {
  .wrapper.my-home .intro-visual-wrap {
    height: 50vh;
    padding: 30px 0 0;
  }
  .wrapper.my-home .intro-visual-wrap .intro-title-wrap .title .text {
    font-size: 50px;
  }
  .wrapper.my-home .intro-visual-wrap .intro-desc-wrap .desc {
    font-size: 16px;
  }
  .wrapper.my-home .intro-visual-wrap .intro-desc-wrap .sub-desc {
    font-size: 12px;
  }
}
@media (max-width: 600px) {
  .wrapper.my-home .intro-visual-wrap {
    padding: 73px 0 0;
  }
  .wrapper.my-home .intro-visual-wrap .intro-title-wrap .title .text {
    font-size: 30px;
  }
  .wrapper.my-home .intro-visual-wrap .intro-desc-wrap .desc {
    font-size: 14px;
  }
}
.wrapper.my-home .intro-career-wrap {
  margin-top: -100px;
}
.wrapper.my-home .intro-career-wrap .profile-wrap {
  padding: 60px;
  display: flex;
}
.wrapper.my-home .intro-career-wrap .profile-wrap .left-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.wrapper.my-home .intro-career-wrap .profile-wrap .left-area .title {
  font-size: 30px;
  font-weight: 500;
  color: #FFF;
  margin-bottom: 60px;
}
.wrapper.my-home .intro-career-wrap .profile-wrap .left-area .info-box {
  margin-top: auto;
}
.wrapper.my-home .intro-career-wrap .profile-wrap .left-area .info-box .text {
  font-size: 24px;
  color: #FFF;
  margin-bottom: 20px;
}
.wrapper.my-home .intro-career-wrap .profile-wrap .left-area .info-box .career-list {
  display: inline-block;
}
.wrapper.my-home .intro-career-wrap .profile-wrap .left-area .info-box .career-list .career-item .text {
  font-size: 20px;
  color: #CED1CF;
}
.wrapper.my-home .intro-career-wrap .profile-wrap .left-area .info-box .career-list .career-item ~ .career-item {
  margin-top: 10px;
}
.wrapper.my-home .intro-career-wrap .profile-wrap .right-area {
  flex: 1;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.wrapper.my-home .intro-career-wrap .profile-wrap .right-area .desc {
  font-size: 26px;
  line-height: 32px;
  color: #FFF;
  margin-top: auto;
}
.wrapper.my-home .intro-career-wrap .profile-wrap .right-area .btn-md {
  margin-top: 20px;
  font-weight: 500;
}
.wrapper.my-home .intro-career-wrap .animation-text-wrap {
  position: relative;
  margin-top: 60px;
}
.wrapper.my-home .intro-career-wrap .animation-text-wrap:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: #E36840;
  animation: twinkle linear 1.5s infinite;
}
@keyframes twinkle {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.wrapper.my-home .intro-career-wrap .animation-text-wrap .animation-list {
  position: relative;
  display: flex;
}
.wrapper.my-home .intro-career-wrap .animation-text-wrap .animation-list .animation-item {
  opacity: 0;
  transform: translateX(-30px);
}
.wrapper.my-home .intro-career-wrap .animation-text-wrap .animation-list .animation-item .text {
  display: inline-block;
  font-size: 66px;
  color: #FFF;
}
.wrapper.my-home .intro-career-wrap .animation-text-wrap .animation-list .animation-item ~ .animation-item {
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 1024px) {
  .wrapper.my-home .intro-career-wrap {
    margin-top: auto;
  }
  .wrapper.my-home .intro-career-wrap .profile-wrap {
    padding: 30px;
    flex-direction: column;
  }
  .wrapper.my-home .intro-career-wrap .profile-wrap .left-area .title {
    font-size: 24px;
  }
  .wrapper.my-home .intro-career-wrap .profile-wrap .left-area .info-box .text {
    font-size: 20px;
  }
  .wrapper.my-home .intro-career-wrap .profile-wrap .left-area .info-box .career-list .career-item .text {
    font-size: 14px;
  }
  .wrapper.my-home .intro-career-wrap .profile-wrap .right-area {
    margin-left: 0;
    margin-top: 30px;
  }
  .wrapper.my-home .intro-career-wrap .profile-wrap .right-area .desc {
    font-size: 20px;
    line-height: 26px;
  }
  .wrapper.my-home .intro-career-wrap .profile-wrap .right-area .btn-md {
    margin-top: 10px;
  }
  .wrapper.my-home .intro-career-wrap .animation-text-wrap:after {
    width: 60px;
    height: 60px;
  }
  .wrapper.my-home .intro-career-wrap .animation-text-wrap .animation-list .animation-item .text {
    font-size: 44px;
  }
}
@media (max-width: 600px) {
  .wrapper.my-home .intro-career-wrap .profile-wrap .left-area .title {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .wrapper.my-home .intro-career-wrap .profile-wrap .left-area .info-box .text {
    font-size: 16px;
  }
  .wrapper.my-home .intro-career-wrap .profile-wrap .left-area .info-box .career-list .career-item .text {
    font-size: 14px;
  }
  .wrapper.my-home .intro-career-wrap .profile-wrap .left-area .info-box .career-list .career-item ~ .career-item {
    margin-top: 5px;
  }
  .wrapper.my-home .intro-career-wrap .profile-wrap .right-area .desc {
    font-size: 18px;
    line-height: 24px;
  }
  .wrapper.my-home .intro-career-wrap .animation-text-wrap:after {
    width: 60px;
    height: 60px;
  }
  .wrapper.my-home .intro-career-wrap .animation-text-wrap .animation-list .animation-item .text {
    font-size: 27px;
  }
}
@media (max-width: 1024px) {
  .wrapper.my-home .intro-identity-wrap .sub-text-wrap {
    margin-top: 50px;
  }
  .wrapper.my-home .intro-identity-wrap .sub-text-wrap .skill-box .skill-list .skill-item {
    width: 30px;
  }
}
@media (max-width: 600px) {
  .wrapper.my-home .intro-identity-wrap .sub-text-wrap {
    margin-top: 50px;
    flex-direction: column;
  }
  .wrapper.my-home .intro-identity-wrap .sub-text-wrap .sub-text-box {
    max-width: 100%;
  }
  .wrapper.my-home .intro-identity-wrap .sub-text-wrap .skill-box {
    margin-top: 20px;
  }
}
.wrapper.my-home .intro-portfolio-wrap {
  display: flex;
}
.wrapper.my-home .intro-portfolio-wrap .sticky-wrap {
  position: relative;
  width: 28%;
}
.wrapper.my-home .intro-portfolio-wrap .sticky-wrap .sticky-box {
  position: sticky;
  top: 50%;
}
.wrapper.my-home .intro-portfolio-wrap .sticky-wrap .sticky-box .title {
  font-size: 60px;
  color: #FFF;
}
.wrapper.my-home .intro-portfolio-wrap .portfolio-box {
  width: 70%;
  margin-left: auto;
}
.wrapper.my-home .intro-portfolio-wrap .portfolio-box .portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  perspective: 1200px;
  overflow: hidden;
}
.wrapper.my-home .intro-portfolio-wrap .portfolio-box .portfolio-list .portfolio-item {
  width: 32.2%;
}
.wrapper.my-home .intro-portfolio-wrap .portfolio-box .portfolio-list .portfolio-item .thumb-box {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  padding-top: 100%;
}
.wrapper.my-home .intro-portfolio-wrap .portfolio-box .portfolio-list .portfolio-item .thumb-box .badge {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 9;
}
.wrapper.my-home .intro-portfolio-wrap .portfolio-box .portfolio-list .portfolio-item .thumb-box img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
.wrapper.my-home .intro-portfolio-wrap .portfolio-box .portfolio-list .portfolio-item .info-box {
  margin-top: 10px;
  display: flex;
}
.wrapper.my-home .intro-portfolio-wrap .portfolio-box .portfolio-list .portfolio-item .info-box .info-title {
  font-size: 13px;
  color: #FFF;
}
.wrapper.my-home .intro-portfolio-wrap .portfolio-box .portfolio-list .portfolio-item .info-box .text {
  font-size: 13px;
  opacity: 0.6;
  color: #FFF;
  margin-left: auto;
}
.wrapper.my-home .intro-portfolio-wrap .portfolio-box .portfolio-list .portfolio-item ~ .portfolio-item {
  margin-left: 10px;
}
.wrapper.my-home .intro-portfolio-wrap .portfolio-box .portfolio-list .portfolio-item ~ .portfolio-item:nth-child(3n+1) {
  margin-left: 0;
}
.wrapper.my-home .intro-portfolio-wrap .portfolio-box .portfolio-list .portfolio-item ~ .portfolio-item:nth-child(n+4) {
  margin-top: 60px;
}
@media (max-width: 1024px) {
  .wrapper.my-home .intro-portfolio-wrap .portfolio-box {
    width: 100%;
  }
  .wrapper.my-home .intro-portfolio-wrap .portfolio-box .portfolio-list .portfolio-item {
    width: calc((100% - 10px) / 2);
  }
  .wrapper.my-home .intro-portfolio-wrap .portfolio-box .portfolio-list .portfolio-item ~ .portfolio-item:nth-child(2n+1) {
    margin-left: 0;
  }
  .wrapper.my-home .intro-portfolio-wrap .portfolio-box .portfolio-list .portfolio-item ~ .portfolio-item:nth-child(n+3) {
    margin-top: 30px;
  }
}
.wrapper.my-home .intro-project-wrap .card-list {
  margin-top: 100px;
}
.wrapper.my-home .intro-project-wrap .sub-text-wrap {
  margin-top: 150px;
}
.wrapper.my-home .intro-project-wrap .sub-text-wrap .sub-text-box {
  width: 50%;
  margin-left: auto;
}
@media (max-width: 1024px) {
  .wrapper.my-home .intro-project-wrap .intro-word-wrap .video-wrap {
    flex-direction: column-reverse;
  }
  .wrapper.my-home .intro-project-wrap .intro-word-wrap .video-wrap .word-box {
    align-self: flex-end;
  }
  .wrapper.my-home .intro-project-wrap .card-list {
    margin-top: 73px;
  }
  .wrapper.my-home .intro-project-wrap .card-list .card-item {
    top: 73px;
    padding: 25px;
    min-height: auto;
    grid-template-columns: 50% auto;
  }
  .wrapper.my-home .intro-project-wrap .card-list .card-item .title {
    font-size: 28px;
    border-bottom: 0;
    grid-column: auto;
    padding-bottom: 0;
  }
  .wrapper.my-home .intro-project-wrap .card-list .card-item .order {
    align-self: center;
    text-align: right;
  }
  .wrapper.my-home .intro-project-wrap .card-list .card-item .order .text {
    font-size: 30px;
  }
  .wrapper.my-home .intro-project-wrap .card-list .card-item .info-box {
    margin-top: 20px;
    padding-top: 20px;
    grid-column: 1/3;
    border-top: 1px solid #DDD;
  }
  .wrapper.my-home .intro-project-wrap .card-list .card-item .info-box .info-title {
    font-size: 20px;
  }
  .wrapper.my-home .intro-project-wrap .card-list .card-item .info-box .info-list .info-item .text {
    font-size: 15px;
    line-height: 21px;
  }
  .wrapper.my-home .intro-project-wrap .card-list .card-item .info-box .info-list .info-item ~ .info-item {
    margin-top: 10px;
  }
}
@media (max-width: 600px) {
  .wrapper.my-home .intro-project-wrap .sub-text-wrap {
    margin-top: 120px;
  }
  .wrapper.my-home .intro-project-wrap .sub-text-wrap .sub-text-box {
    width: 100%;
  }
}
.wrapper.my-home .intro-contact-wrap {
  display: flex;
  align-items: center;
  position: relative;
  height: calc(var(--vh, 1vh) * 100);
}
.wrapper.my-home .intro-contact-wrap .intro-text-wrap {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
.wrapper.my-home .intro-contact-wrap .intro-text-wrap .intro-img {
  width: 400px;
}
.wrapper.my-home .intro-contact-wrap .contact-info-wrap {
  width: 100%;
  padding: 65px 20px;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrapper.my-home .intro-contact-wrap .contact-info-wrap .title-wrap {
  text-align: center;
}
.wrapper.my-home .intro-contact-wrap .contact-info-wrap .title-wrap .title {
  font-size: 135px;
  font-weight: 500;
  color: #FFF;
}
.wrapper.my-home .intro-contact-wrap .contact-info-wrap .title-wrap .sub-title {
  margin-top: 20px;
  font-size: 15px;
  color: #FFF;
  opacity: 0.6;
}
@media (max-width: 1024px) {
  .wrapper.my-home .intro-contact-wrap {
    height: auto;
  }
  .wrapper.my-home .intro-contact-wrap .intro-text-wrap .intro-img {
    width: 180px;
  }
  .wrapper.my-home .intro-contact-wrap .contact-info-wrap .title-wrap .title {
    font-size: 80px;
  }
  .wrapper.my-home .intro-contact-wrap .contact-info-wrap .title-wrap .sub-title {
    font-size: 12px;
  }
}
@media (max-width: 1024px) {
  .wrapper.my-home {
    overflow-x: hidden;
  }
}

/*# sourceMappingURL=portfolio_front.css.map */
