// 폰트 기본
$fontDefault: 'Pretendard', "SF Pro Display", AppleSDGothicNeo-Light, Helvetica,"Malgun Gothic", 'MalgunGothic', '맑은고딕', sans-serif !important;
/*$fontEngDefault: "linotype-didot", serif !important;*/
$letterSpacing: -.001em; // -10

// 폰트 굵기
$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightSemiBold: 600;

// 폰트 사이즈
$fontSizeMd: 14px;
$fontSizeMdLineHeight: 21px;

$fontSizeLg: 17px;
$fontSizeLgLineHeight: 24px;

$fontSizeXl : 18px;


// 인트로 타이틀 폰트 사이즈
$fontSizeTitle: 28px;


